<h2 class="title">Search data</h2>
<form class="form" [formGroup]="form" (keydown)="EnterSubmit($event, form.value)">
    <div>
        <button (click)="setOSValue('')">Principal</button>
        <button (click)="setOSValue('ASE')">ASE</button>
        <button (click)="setOSValue('OSPM')">OSPM</button>
        <button (click)="setOSValue('OSEN')">OSEN</button>
        <button (click)="setStatusValue('pendiente')">Pendientes</button>
        <button (click)="setStatusValue('modificar')">Modif. Autoriz</button>
        <button disabled>Judicializados</button>
        <button (click)="setStatusValue('liquidado')">Liquidados</button>
    </div>
    <div class="containerSelect" *ngIf="this.form.controls['estado'].value!==''">
        <select class="form-control" formControlName="Tmp_os" >
            <option selected value="">Obra Social</option>
            <option *ngFor="let o of optionsOS">
                {{o.name}}
            </option>
        </select>
    </div>
    <div class="containerSelect">
        <span>CUIT</span>
        <input type="text" class="form-control" formControlName="cuit">
    </div>
    <div class="containerSelect">
        <span>Razon Social</span>
        <input type="text" class="form-control" formControlName="razon_social">
    </div>
    <div class="containerSelect">
        <span>Periodo comprobante desde</span>
        <input type="date" class="form-control" formControlName="comprobante_desde" >
    </div>
    <div class="containerSelect">
        <span>Periodo comprobante hasta</span>
        <input type="date" class="form-control" formControlName="comprobante_hasta" >
    </div>
    <div class="containerSelect">
        <span>Fecha tramite desde</span>
        <input type="date" class="form-control" formControlName="tramite_desde" >
    </div>
    <div class="containerSelect">
        <span>Fecha tramite hasta</span>
        <input type="date" class="form-control" formControlName="tramite_hasta">
    </div>
    <button class="btn btn-primary" (click)="search(form.value)">Search</button>
</form>
