.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    gap: 0.5em;
}
.titlesContainer{
    display: flex;
    gap: 2rem;
}